#logo {
    height: 40px;
}

#nav{
    background-color: #ebeff3;
}

.base{
    color: white;
    background-color:#43A046
}

.footer {
    background-color: #263238;
    padding-top: 80px;
    padding-bottom: 100px;
}

.img_small {
    height: 50%;
}

a>li{
    color: white
}


div img {
    margin: 5px;
}

